{% extends  "base.html" %}
{% load static %}
<title>{% block title %}Зарегистрироваться{% endblock %}</title>
{% block style %}
<link rel="stylesheet" href="{% static 'css/style-reg.css'%}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <form method="post">
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="Фамилия">
        <input type="text" placeholder="Отчество">
        <input type="email" placeholder="email">
        <input type="tel" placeholder="Номер телефона">
        <input type="text" placeholder="Логин">
        <input type="password" placeholder="Пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}